body{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

header{
    background-image: url('../img/bg-header.jpg');
    width: auto;
    height: 670px;
    background-size: cover;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 45px;
    filter: grayscale(2);
    margin-top: 5px;
}

.navbar-expand-lg{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-end;
}
